<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title SCGF	
	link(rel="stylesheet", href="//cdn.staticfile.org/semantic-ui/0.19.3/css/semantic.min.css")
	link(rel="stylesheet", href="//cdn.bootcss.com/jquery-jgrowl/1.3.0/jquery.jgrowl.min.css")
	link(rel="stylesheet", href="/static/index.css")
	script(src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
	script(src="//cdn.staticfile.org/velocity/1.1.0/velocity.min.js")
	script(src="//cdn.staticfile.org/velocity/1.1.0/velocity.ui.min.js")
	script(src="//cdn.staticfile.org/semantic-ui/0.19.3/javascript/semantic.min.js")
	script(src="//cdn.staticfile.org/angular.js/1.3.0-beta.13/angular.min.js")
	script(src="//cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-animate.min.js")
	script(src="http://cdn.bootcss.com/jquery-jgrowl/1.3.0/jquery.jgrowl.min.js")
	script(src="/static/primus.js")
	script(src="/static/scgf.js")
body(ng-app="scgf")
	//- 顶栏
	.ui.top.inverted.teal.fixed.menu.active(ng-controller="sessionController")
		.header.item SCGF
		a.item(onClick="$('.ui.sidebar#game').sidebar('toggle');") 游戏
		a.item(onClick="$('.ui.sidebar#room').sidebar('toggle');") 房间
		a.item(onClick="$('.ui.sidebar#chat').sidebar('toggle');") 聊天
		a.item(onClick="$('.ui.modal#result').modal('show');") 得分
		.right.menu
			a.item(ng-bind-template="{{user}}@{{room}}")

		.ui.modal#login
			i.close.icon
			.header 编辑昵称与房间
			.ui.form.segment
				.field 
					.ui.header 昵称
					.ui.left.icon.input
						input(type="text",placeholder="昵称",ng-model="user")
						i.user.icon
				.field
					.ui.list
						.item(ng-repeat="one in roomlist()")
							a.ui.label(ng-click="$root.room = one.name",
							ng-class="{'teal': one.name == $root.room}")
								.header {{one.name}} - {{one.users}}玩家
								.sub.header {{one.game}} - {{one.playing ? '游戏中' : '准备中'}}

				.field 
					.ui.left.icon.input 
						input(type="text",placeholder="房间名",ng-model="room")
						i.home.icon
				.field
					.ui.header 选择房间或输入新房间名
					.ui.small.right.floated.teal.button(ng-click="connect()") 连接

	//- 游戏
	.ui.left.floating.styled.sidebar#game(ng-controller="gameController")
		.ui.inverted.teal.header 游戏

		.ui.horizontal.divider 当前
		div(ng-if="!game_cover")
			p 没有游戏
		img.game_cover(ng-src="{{game_cover}}",
			ng-if="game_cover",
			title="{{game_description}}")

		.ui.horizontal.divider 列表
		.ui.list
			a.highlight.item(ng-repeat="agame in game_list" ng-click="select(agame)")
				i.absolute.black.circle.blank.icon(ng-if="agame == current")
				i.absolute.teal.circle.icon(ng-if="agame == selected")
				.header(ng-bind-template="{{agame}}")

		.ui.horizontal.divider 配置
		.ui.list
			.ui.label.header(ng-repeat="(key,option) in config"){{'option>'+key | lookup}}
				.ui.buttons
					.ui.mini.teal.button(ng-repeat="choice in option",
						  	   ng-bind-template="{{choice}}",
						  	   ng-class="{'active':choice==options[key]}",
						  	   ng-click="options[key]=choice")
		.ui.teal.button#load(ng-click="load()") 载入

	//- 房间
	.ui.left.floating.styled.sidebar#room(ng-controller="roomController")
		.ui.inverted.teal.header 房间

		.ui.horizontal.divider 控制
		.ui.segment
			.ui.header 
				i.star.icon	{{self.score}}
				.content {{self.name}}
					.sub.header {{self.role | lookup}}, {{'avatar>' + self.avatar | lookup}}
			
		.ui.buttons
			.ui.tiny.teal.button(ng-click="select('controller')",
				ng-class="{'active': self.role == 'controller'}") 控制者
			.ui.tiny.teal.button(ng-click="select('candidate')",
				ng-class="{'active': self.role == 'candidate'}") 替补
			.ui.tiny.teal.button(ng-click="select('watcher')",
				ng-class="{'active': self.role == 'watcher'}") 观战
		.ui.list
			a.highlight.item(ng-repeat="avatar in avatars",
					ng-click="select_avatar(avatar)")
				i.absolute.teal.circle.icon(ng-if="avatar == self.avatar")
				.header(ng-bind-template="{{'avatar>' + avatar | lookup}}")
	//- 得分
	.ui.tiny.modal#result
		i.close.icon
		.header 得分
		table.ui.table.segment
			thead
				tr
					td 玩家
					td 身份
					td 本局
					td 累计
			tbody
				tr(ng-repeat="player in players()")
					td {{player.name}}
					td {{player.role | lookup}}, {{'avatar>' + player.avatar | lookup}}
					td
						.ui.label(ng-class="{'green': player.current_score > 0, 'red': player.current_score < 0}")
							i.star.icon	{{player.current_score || 0}}
					td
						.ui.purple.label
							i.star.icon	{{player.score}}


	//- 聊天
	.ui.bottom.floating.styled.sidebar#chat(ng-controller="chatController")
		.ui.hover.paper.message
			.ui.list
				.item(ng-bind-html="line",
					ng-repeat="line in chats")
		.ui.fluid.input
			input(type="text" placeholder="输入")

	//- 主要
	.ui.deep.paper#container(ng-controller="containerController")
		.row.cardarea(id="{{row}}",ng-repeat="(i,row) in ['top','front','back','bottom']")
			.subarea.relative(id="{{column}}",ng-repeat="column in layout[i]")
				.cardframe(class="{{card.id}}",ng-include="card.template",
					ng-repeat="card in cards[row][column]",
					ng-click="select(card)",
					ng-class="{'disabled' : !card.enabled, 'chosen' : isSelected(card)}")
				.absolute.backfill {{'cardarea>' + column | lookup}}
		.row.game.controls#control
			.ui.buttons
				.ui.small.teal.playbutton.button(
					ng-repeat="item in asked",
					ng-click="submit(item)",
					ng-class="{'disabled' : !asked_lookup[item]}",
					title="{{'playtip>hint>' + item | lookup}}")
						{{'playtip>play>' + item | lookup}}

	//- 信息
	.ui.deep.paper#info
		.upper
			.ui.horizontal.divider 玩家
			.ui.teal.list
				.tiny.item(ng-repeat="player in players()")
					.ui.purple.label
						i.white.star.icon	{{player.score}}
					.content
						.header {{player.name}}
						.description {{player.role | lookup}}, {{'avatar>' + player.avatar | lookup}}
		.lower
			.ui.horizontal.divider 日志
			.ui.logs
				div(ng-bind-html="line",
					ng-repeat="line in logs() track by $index",
					ng-class="{'item': line != '' , 'ui divider': line == ''}")

	//- 自动隐藏侧栏
	script
		:coffee
			$('#container').click (e)->
				$('.ui.left.sidebar').sidebar('hide')

			$('.ui.left.sidebar').sidebar 
				'overlay' : true

			$('body').keyup (e)->
				if e.which == 27
					$('.ui.sidebar').sidebar('hide')
				else if e.which == 13 and e.ctrlKey
					$('.ui.sidebar#chat').sidebar('toggle')
				
			$('.ui.sidebar#chat').sidebar
				onShow: -> 
					$('.ui.sidebar#chat input').focus()
			$('.ui.sidebar#chat input').keyup (e)->
				return if e.which isnt 13
				dom = $(this)
				return if not dom.val().length

				window.session.act 'chat', dom.val()
				dom.val ''

			$('.ui.modal#login').modal('show')
			window.session.act 'list'

			$('.ui.modal#login .button').on 'click',->
				$('.ui.modal#login').modal('hide')

			$('.ui.fixed.top.menu .right.menu a.item').on 'click',->
				$('.ui.modal#login').modal('show')
				window.session.act 'list'

			checkSize = ->
				if $('#container').height() < 800
					$('.cardarea').addClass 'short'
				else
					$('.cardarea').removeClass 'short'

			$(window).resize checkSize
			checkSize()

			$.jGrowl.defaults.position = 'bottom-right'
			$.jGrowl.defaults.life = 3000
			$.jGrowl.defaults.glue = 'before'
			$.jGrowl.defaults.closer = false